<!-- Single Blog -->
<div class="single-blog">
    <div class="blog-img">
        <img src="" alt="">
        <div class="post-category">
            <p>{{singleblog.category}}</p>
        </div>
    </div>
    <div class="blog-content">
        <div class="blog-title">
            <h4><a href="{{singleblog.readMore}}">{{singleblog.title}}</a></h4>
            <div class="meta">
                <ul>
                    <li>{{singleblog.date}}</li>
                </ul>
            </div>
        </div>
        <p>{{singleblog.context}}</p>
        <a href="{{singleblog.readMore}}" class="box_btn">read more</a>
    </div>
</div>